* {
  padding: 0;
  margin: 0;
}
h1 {
  text-align: center;
  margin-bottom: 15px;
}
h3 {
  text-align: center;
}

.inputBox {
  display: block;
  padding: 10px;
  margin: auto;
  text-align: center;
}

.engBox {
  display: block;
  padding: 10px;
  margin: auto;
  text-align: center;
}

.container {
  &__display {
    margin: 10px 60px;
    padding: 40px;
    border-radius: 10px;
    font-size: large;
    background-color: #ff7f50;
    color: #d9fae0;
  }
}
